.idea
course_work_2/__pycache__
course_work_3/__pycache__
course_work_3/tests/__pycache__
home_11/app/__pycache__
home_12
home_14/__pycache__
home_5/__pycache__
home_6/__pycache__
home_8/__pycache__
home_9/app/__pycache__
course_work_3/logs/api.log
course_work_3/app
home_16/__pycache__
home_16/instance/homework_base.db
home_17/__pycache__
home_18/__pycache__
cource_work_4/__pycache__
cource_work_4/venv
cource_work_4/ *.db
cource_work_4/project/__pycache__
cource_work_4/project/dao/__pycache__
cource_work_4/project/services/__pycache__
cource_work_4/project/setup/__pycache__
cource_work_4/project/setup/api/__pycache__
